@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.layout {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40vh;
    top:150px;

    perspective: 500vw;
    perspective-origin: -50% 0%;
    @include breakpoint(md) {
        width: 50vw;
        height: calc(100vh - 200px);

    }
    &:hover {
        cursor: grab;
    }
    &--onMotion {
        &:hover {
            cursor: grabbing;
        }
    }
    .scene {
        position: relative;
        transform-style: preserve-3d;
    }
}
