@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.info {
    width: 100%;
    height: inherit;
    font-size: 0.9em;
    line-height: 0.9em;
    display: grid;
    grid-template-rows: 30% 1fr 60px;
    @include breakpoint(md) {
        font-size: 1.2em;
        line-height: 1.2em;
        border-right: thick double $primary-color;
    }
    &__description {
        padding: 10px;
        @include breakpoint(md) {
            padding-top: 40%;
        }
    }
    &__table {
        font-size: 0.8em;
        table-layout: fixed;
        width: calc(100% - 40px);
        max-width: 360px;
        max-height: 100px;
        margin: auto;
        border: 1px solid $primary-color;
        td {
            border: 1px solid $primary-color;
            text-align: center;
        }
    }
    &__links {
        display: flex;
        gap: 3px;
        a {
            display: block;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            width: 50%;
            height: 50px;
            background-color: fade-out($color: $primary-color, $amount: 0.5);
            &:hover {
                background-color: fade-out(
                    $color: $primary-color,
                    $amount: 0.2
                );
            }
        }
        .git-logo {
            img {
                height: 40px;
            }
            &--inactive {
                background-color: rgba(128, 128, 128, 0.11);
                pointer-events: none;
            }
        }
    }
}
