@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "./styles/globals";
@import "./styles/cubes";



body {
  height: 100vh;
  width: 100vw;
  background: repeating-linear-gradient(
    60deg,
    black,
    rgb(17, 17, 17),
    black 4px
  );
  overflow: hidden;
}

#root {
  transform-style: preserve-3d;
}
main{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.resize-transition-stopper * {
  transition: none !important;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: $button-size;
  &:hover{
    cursor: pointer;
  }
  &__classic{
    background-color: $secondary-color;
    color: $primary-color;
    border : solid 2px
  }
  &__green{
    background-color: $primary-color;
    color: $secondary-color;
    &> h1,h2,h3,p{
      color: $secondary-color;
    }
  }
}


html {
  position: fixed;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100vw; 
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}