@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@import "./styles/globals";
@import "./styles/cubes";



body {
  height: 100vh;
  width: 100vw;
  background: repeating-linear-gradient(
    60deg,
    black,
    rgb(17, 17, 17),
    black 4px
  );
  overflow: hidden;
}

#root {
  transform-style: preserve-3d;
}

.resize-transition-stopper * {
  transition: none !important;
}