@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.about {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    &__container {
        position: relative;
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: min(85vw, 800px);
        height: 80vh;
        line-height: 150%;
        border: thick double $primary-color;
        scrollbar-color: $primary-color $primary-color;
    }
    header {
        height: 70px;
        width: 100%;
        background-color: fade-out($color: $primary-color, $amount: 0.5);
        border-bottom: thick double $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7em;
        @include breakpoint(sm) {
            font-size: 1em;
        }
        h2 {
            color: black;
        }
    }
    .profile {
        position: absolute;
        width: min(40vw, 300px);
        min-width: 160px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__info {
        flex-grow: 1;
        opacity: 0;
        transition: 0s;
        transition-delay: 0s;
        overflow-y: scroll;
        &--show {
            position: static;
            transition-delay: 4s;
            opacity: 1;
        }
    }
    b {
        text-decoration: underline;
    }
    .buttons {
        width: 100%;
        height: 50px;
        display: flex;
        gap: 3px;
        font-size: 0.8em;
        button {
            width: 50%;
            height: 100%;
            border: none;
            color: black;
            font-size: 1.2em;
            background-color: fade-out($color: $primary-color, $amount: 0.5);
            cursor: pointer;
            &:hover {
                background-color: fade-out(
                    $color: $primary-color,
                    $amount: 0.2
                );
            }
            &.active {
                background-color: fade-out(
                    $color: $primary-color,
                    $amount: 0.2
                );
            }
        }
    }
}

.about__info::-webkit-scrollbar {
    width: 11px;
}
.about__info {
    scrollbar-width: thin;
    scrollbar-color: $primary-color black;
}
.about__info::-webkit-scrollbar-track {
    background: $primary-color;
}
.about__info::-webkit-scrollbar-thumb {
    background-color: black;
}
