@use "../../styles/variables"as *;
@use "../../styles/mixins" as *;


.about{
  width:100vw;
  height:100vh;
  font-size: 1.5em;
  padding: 100px 80px;
  &__info{
    width: 70vw;
    height:70vh;
    line-height: 150%;
    overflow-y: scroll;
    border: solid 2px ;
    scrollbar-color:$primary-color $primary-color;
  }
  .profile {
    float: left;
    margin-right: 5px;;
    width:20vw;
    min-width: 160px;
    .button{ 
      width:50%;
    }
  }
  b{
    text-decoration: underline
  }

}


.about__info::-webkit-scrollbar {
  width: 11px;
}
.about__info {
  scrollbar-width: thin;
  scrollbar-color: $primary-color black;
}
.about__info::-webkit-scrollbar-track {
  background: $primary-color;
}
.about__info::-webkit-scrollbar-thumb {
  background-color: black ;

}
