.work_page {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: black;
}

.v-separator {
  content: "";
  display: inline-block;
  width: 0px;
  height: 60vh;
  border-right: 1px solid rgb(29, 138, 7, 0.5);
  border-left: 1px solid rgb(29, 138, 7, 0.5);
  padding: 0;
  position: absolute;
  top: 20%;
  left: 50%;
}
