@use "../../styles/variables"as *;
@use "../../styles/mixins" as *;


.work {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint(md) {
        flex-direction: row;
    }
    &__cube {
        height: 50vh;
        width: 100vw;
        @include breakpoint(md) {
            height: 100vh;
            width: 50vw;
        }
        .cube{
            pointer-events: none;
            user-select: none;
        }
    }
    &__detail {
        height: 50vh;
        width: 100vh;
        @include breakpoint(md) {
            height: 100vh;
            width: 50vw;
        }
    }
}

.v-separator {
    content: "";
    display: inline-block;
    width: 70vw;
    height: 0;
    border-top: 1px solid rgb(29, 138, 7, 0.4);
    border-bottom: 1px solid rgb(29, 138, 7, 0.4);
    padding: 0;
    position: absolute;
    top: 50%;
    left: 15%;

    @include breakpoint(md) {
      border-right: 1px solid rgb(29, 138, 7, 0.4);
    border-left: 1px solid rgb(29, 138, 7, 0.4);
      width:0;
      height: 40vh;
      top: 30%;
      left: 50%;
    }
}
