@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use"../../styles/animations" as *;


.projects_navigation{
    position: relative;
    top:90%;
    height: 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    perspective:170vw;
    perspective-origin: 170% -60%;
    max-width: 90%;
    @include breakpoint(md) {
        max-width:800px
    }
    .scene {
        position: relative;
        transform-style: preserve-3d;
        .cube{
            transition: all 1s;
            cursor: pointer;
            &--active{
                transform: rotateY(180deg);   
            }
            .cube__back{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}


.work {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include breakpoint(md) {
        flex-direction: row;
    }
    &__cube {
        position: relative;
        top: -100px;
        height: 50vh;
        width: 100vw;
        @include breakpoint(md) {
            height: 100vh;
            width: 50vw;
        }
        .cube{
            pointer-events: none;
            user-select: none;
            @include breakpoint(md) {
                top: calc(-1 * $medium-cube-size);
            }
        }

    }
    .double-arrow{
        position:absolute;
        height:60px;
        width:60px;
        left:22%;
        top:35%;
        @include breakpoint(md){
            top:65%;
            left:25%;
            rotate:-45deg;
        }
        stroke:$primary-color;
        stroke-width: 5px;
        fill:transparent;
    }
    &__detail {
        height: 50vh;
        width: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink:0;
        @include breakpoint(md) {
            height: 100vh;
            width: 50vw;
        }
        .detail{
            position: relative;
            top: -100px;
            @include breakpoint(md) {
                top: -50px;
            }
        }
    }
}

.v-separator {
    content: "";
    display: inline-block;
    width:32vw; 
    height: 0;
    border-top: 1px solid rgb(29, 138, 7, 0.4);
    border-bottom: 1px solid rgb(29, 138, 7, 0.4);
    padding: 0;
    position: absolute;
    top: 45%;
    left: 15%;

    @include breakpoint(md) {
    border-right: 1px solid rgb(29, 138, 7, 0.4);
    border-left: 1px solid rgb(29, 138, 7, 0.4);
    width:0;
    height: 15vh;
    left: 50%;
    }
}


.sep-1{
   @include breakpoint(md){
    width:0;
    top: 25%;
   }
}

.sep-2{
    left:53%;
    @include breakpoint(md){
        width:0;
        top:50%;
        left: 50%;
       }
 }

.icon-scroll, .icon-scroll::before{
    position: absolute;
    left:52%;
    @include breakpoint(md){
        left:50%;
    }
}

 .icon-scroll{
    width: 17px;
    height: 30px;
    margin-left: -20px;
    top:47%;

    margin-top: -35px;
    box-shadow: inset 0 0 0 1px $primary-color;
    border-radius: 25px;
    @include breakpoint(md){
        width: 40px;
        height: 70px;
        top:45%;
        }
 }


.icon-scroll::before{
    content: "";
    width: 5px;
    height: 5px;
    background: $primary-color;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation: scroll-small 3.5s infinite;
    @include breakpoint(md){
        width: 8px;
        height: 8px;

    animation: scroll 3.5s infinite;
    }
}


@keyframes scroll-small{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
        transform: translateY(25px);
        }
        100%{
        opacity: 0;
        transform: translateY(25px);
        }
}
@keyframes scroll{
    0%{
        opacity: 1;
    }
  50%{
    opacity: 0;
    transform: translateY(46px);
    }
    100%{
    opacity: 0;
    transform: translateY(46px);
    }
}
