@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.project {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-rows: 120px 1fr 1fr;
    grid-template-columns: 100%;
    overflow: hidden;
    border: thick double $primary-color;
    @include breakpoint_height( sm, max ){
        grid-template-rows: 90px 1fr;
        grid-template-columns: 50% 50%;
    }
    @include breakpoint_height( sm ){
        @include breakpoint(sm){
            width: 85vw;
            height: 80%;
            margin: 70px 7.5vw;
        }
        @include breakpoint(md) {
            grid-template-rows: 70px 1fr;
            grid-template-columns: min(400px, 50%) auto;
        }
    }
    &__title {
        height: 100%;
        background-color: fade-out($color: $primary-color, $amount: 0.5);
        border-bottom: thick double $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        @include breakpoint_height( sm, max ){
            grid-column-start: 1;
            grid-column-end: 3;
            justify-content: start;
            align-items: start;
            padding:10px 10px;
        }
        @include breakpoint_height( sm ){
            @include breakpoint(md) {
                grid-column-start: 1;
                grid-column-end: 3;
            }
    }
        h2 {
            color: black;
        }
    }
    &__cube {
        height: 100%;
        @include breakpoint_height( sm, max ){
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            height: 100%;
        }
        @include breakpoint_height( sm ){
            @include breakpoint(md) {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                height: 100%;
            }
    }
        .layout {
            width: 100%;
            height: calc(100% - 60px);
            position: static;
            .scene {
                position: relative;
                top: 20%;
                @include breakpoint_height( sm ){
                    @include breakpoint(md) {
                        top: -10%;
                        left: 5%;
                    }
            }
                .cube {
                    user-select: none;
                    pointer-events: none;
                }
            }
        }
    }
    &__info {
        height: 100%;
        @include breakpoint_height( sm ){
            @include breakpoint(md) {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 3;
                height: 100%;
                overflow-y: hidden;
        }
    }
        &::-webkit-scrollbar {
            width: 11px;
        }
        & {
            scrollbar-width: thin;
            scrollbar-color: $primary-color black;
        }
        &::-webkit-scrollbar-track {
            background: $primary-color;
        }
        &::-webkit-scrollbar-thumb {
            background-color: black;
        }
    }
}
