@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.project {
    width: 85vw;
    height: 80vh;
    margin: 7.5vh 7.5vw;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 100%;
    overflow: hidden;
    border: thick double $primary-color;
    @include breakpoint(md) {
        grid-template-rows: 5vh 1fr;
        grid-template-columns: min(400px, 50%) auto;
    }
    &__title {
        height: 5vh;
        background-color: fade-out($color: $primary-color, $amount: 0.5);
        border-bottom: thick double $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        @include breakpoint(md) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        h2 {
            color: black;
        }
    }
    &__cube {
        height: 35vh;
        @include breakpoint(md) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            height: 75vh;
        }
        .layout {
            width: 100%;
            height: calc(100% - 60px);
            position: static;
            .scene {
                position: relative;
                @include breakpoint(md) {
                    top: -10%;
                    left: 5%;
                }
                .cube {
                    user-select: none;
                    pointer-events: none;
                }
            }
        }
    }
    &__info {
        height: 40vh;
        overflow-y: scroll;
        @include breakpoint(md) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            height: 75vh;
            overflow-y: hidden;
        }
        &::-webkit-scrollbar {
            width: 11px;
        }
        & {
            scrollbar-width: thin;
            scrollbar-color: $primary-color black;
        }
        &::-webkit-scrollbar-track {
            background: $primary-color;
        }
        &::-webkit-scrollbar-thumb {
            background-color: black;
        }
    }
}
