@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 500vw;
    perspective-origin: -50% 0%;
    pointer-events: none;
    @include breakpoint(md) {
        pointer-events: auto;
        width: 50vw;
        height: calc(100vh - 200px);

    }
    &:hover {
        cursor: grab;
    }
    &--onMotion {
        &:hover {
            cursor: grabbing;
        }
    }
    .scene {
        transform-style: preserve-3d;
        animation : rotate 30s infinite linear;
        @include breakpoint(md){
            animation: none;
        }
    }
}
@keyframes rotate {
    0%{
        transform: rotateX(0deg) rotateY(0) rotateZ(0deg);
    }
    100%{
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
    
}