@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;


.detail {
    height: 50vh;
    padding:70px 0px;
    color: $primary-color;
    display: flex;
    gap : 10px;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &__info {
      width: min(70%,550px);
      .col_1{width: 40%;}
      .col_2{width: 40%;}
      .col_3{width: 20%;}
  }
    &__description{
        display: block;
        margin:10px 0;
      width: min(70%,500px);
    }
    &__links{
        width:40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__git-logo{
        height:40px;
    }
    table,
    th,
    td {
        border: 1px solid $primary-color;
    }
    td {
        padding: 3px;
    }
}
