@import url("https://fonts.googleapis.com/css2?family=Frijole&display=swap");

/* Variables */
$font-principal: "Frijole", cursive;
$font-size: 1.5rem;
$navbar-bg-color: rgba(0, 0, 0, 0);
$menu-color: rgb(141, 141, 141);
$menu-bg-color: rgba(0, 0, 0, 0.945);
$burger-color: rgb(68, 68, 68);

$color: rgba(0, 0, 0, 0.836);
