@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.cursor {
    visibility: visible;
    &--hidden {
        visibility: hidden;
    }
    &--done {
        animation: blink 1400ms infinite;
    }
}
